h1{
    text-align: center;
    font-size: 30px;
}

h2{
    text-align: center;
    font-size: 16px;
}

.foodPicker{
    background-color: yellowgreen;
    min-height: 90vh;
}

.nutritionDisplay{
    background-color: whitesmoke;
    min-height: 90vh;
}

.dropDown{
    text-align: center;
}

.food-item{
    color: blue;
}

.food-list{
    font-size: 15px;
    color: blue;
    padding: 5px 5px 5px 5px;
}